APS1052 Final Project

The focus if this project is the seed model from the book Machine Learning and Data Science Blueprints for Finance. The goal this project is to use regression modelto predict the future price of an ETF/Stock.

# 1.Data Preprocessing

In [ ]:
# Basic Tools
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [ ]:
# Feature Engineering
import talib

# Feature Selection
from sklearn.feature_selection import SelectKBest, chi2, f_regression

In [ ]:
# Machine Learning
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV, KFold, cross_val_score
from sklearn.linear_model import LinearRegression, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor, ExtraTreesRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
import warnings
warnings.filterwarnings("ignore")

## Load data

Load the data (stocks)

In [ ]:
# stocks
AAPL = pd.read_csv('data/stock/AAPL.csv')
AMD = pd.read_csv('data/stock/AMD.csv')
AMZN = pd.read_csv('data/stock/AMZN.csv')
GOOGL = pd.read_csv('data/stock/GOOGL.csv')
INTC = pd.read_csv('data/stock/INTC.csv')
MSFT = pd.read_csv('data/stock/MSFT.csv')
NVDA = pd.read_csv('data/stock/NVDA.csv')

stocks = [AAPL, AMD, AMZN, GOOGL, INTC, MSFT, NVDA]

# Use TSLA as testing etf to determine the effective of our model
TSLA = pd.read_csv('data/stock/TSLA.csv')

In [ ]:
AAPL

          Date    Close    Volume      Open       High        Low
0   03/07/2025  $239.07  46273570  $235.105    $241.37    $234.76
1   03/06/2025  $235.33  45170420  $234.435    $237.86  $233.1581
2   03/05/2025  $235.74  47227640   $235.42    $236.55    $229.23
3   03/04/2025  $235.93  53798060  $237.705    $240.07    $234.68
4   03/03/2025  $238.03  47183990   $241.79  $244.0272   $236.112
5   02/28/2025  $241.84  56833360   $236.95    $242.09    $230.20
6   02/27/2025  $237.30  41153640   $239.41    $242.46    $237.06
7   02/26/2025  $240.36  44433560   $244.33    $244.98    $239.13
8   02/25/2025  $247.04  48013270   $248.00    $250.00    $244.91
9   02/24/2025  $247.10  51326400  $244.925    $248.86    $244.42
10  02/21/2025  $245.55  53197430   $245.95    $248.69    $245.22
11  02/20/2025  $245.83  32316910   $244.94    $246.78    $244.29
12  02/19/2025  $244.87  32204220   $244.66    $246.01  $243.1604
13  02/18/2025  $244.47  48822490   $244.15    $245.18    $241.84
14  02/14/2025  $244.60  40896230   $241.25    $245.55    $240.99
15  02/13/2025  $241.53  53614050   $236.91  $242.3399    $235.57
16  02/12/2025  $236.87  45243290   $231.20    $236.96    $230.68
17  02/11/2025  $232.62  53718360   $228.20    $235.23    $228.13
18  02/10/2025  $227.65  33115650   $229.57   $230.585    $227.20

In [ ]:
print(AAPL.dtypes)

Date      object
Close     object
Volume     int64
Open      object
High      object
Low       object
dtype: object

## Clean Data

In [ ]:
import pandas as pd

def clean(df):
    new_df = pd.DataFrame()

    new_df["Date"] = pd.to_datetime(df.iloc[:, 0])

    columns_to_clean = ["Open", "High", "Low", "Close", "Volume"]

    for col in columns_to_clean:
        new_df[col] = df[col].astype(str).str.replace(r'[\$,]', '', regex=True).astype(float)

    return new_df

for index, stock in enumerate(stocks):
    stocks[index] = clean(stock)

TSLA = clean(TSLA)

In [ ]:
TSLA

         Date     Open      High       Low   Close       Volume
0  2025-03-07  259.320  266.2499  250.7300  262.67  102369600.0
1  2025-03-06  272.060  272.6500  260.0200  263.45   98451570.0
2  2025-03-05  272.920  279.5500  267.7100  279.10   94042910.0
3  2025-03-04  270.930  284.3500  261.8401  272.04  126706600.0
4  2025-03-03  300.340  303.9400  277.3000  284.65  115551400.0
5  2025-02-28  279.500  293.8800  273.6000  292.98  115697000.0
6  2025-02-27  291.160  297.2300  280.8800  281.95  101748200.0
7  2025-02-26  303.715  309.0000  288.0400  290.80  100118300.0
8  2025-02-25  327.025  328.8900  297.2512  302.80  134228800.0
9  2025-02-24  338.140  342.3973  324.7000  330.53   76052320.0
10 2025-02-21  353.440  354.9800  334.4200  337.80   74058650.0
11 2025-02-20  361.510  362.3000  348.0000  354.40   45965350.0
12 2025-02-19  354.000  367.3400  353.6700  360.56   67094370.0
13 2025-02-18  355.010  359.1000  350.0200  354.11   51631700.0
14 2025-02-14  360.620  362.0000  347.5000  355.84   68277280.0
15 2025-02-13  345.000  358.6900  342.8500  355.94   89441520.0
16 2025-02-12  329.940  346.4000  329.1200  336.51  105382700.0
17 2025-02-11  345.800  349.3700  325.1000  328.50  118543400.0
18 2025-02-10  356.210  362.7000  350.5100  350.73   77514900.0

In [ ]:
print(TSLA.dtypes)

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

# 2. Feature Engineering

In [ ]:
import talib as ta
import numpy as np
import pandas as pd

def get_indicators(df, indicators):
    if indicators is None:
        indicators = ['MACD', 'MFI', 'SMA', 'MOM', 'ROC', 'RSI', 'ATR', 'BBANDS']

    timeperiod = 14  # Standard time period for indicators

    # Create a copy to avoid modifying the original DataFrame
    df = df.copy()

    # Moving Average Convergence Divergence (MACD)
    if 'MACD' in indicators:
        macd, macdsignal, macdhist = ta.MACD(df['Close'].values, fastperiod=12, slowperiod=26, signalperiod=9)
        df['MACD_Diff'] = macd
        df['MACD_Signal'] = macdsignal
        df['MACD_Hist'] = macdhist

    # Money Flow Index (MFI)
    if 'MFI' in indicators:
        df['MFI'] = ta.MFI(df['High'].values, df['Low'].values, df['Close'].values, df['Volume'].values, timeperiod=timeperiod)

    # Simple Moving Average (SMA)
    if 'SMA' in indicators:
        df['SMA_20'] = ta.SMA(df['Close'].values, timeperiod=20)
        df['SMA_50'] = ta.SMA(df['Close'].values, timeperiod=50)

    # Momentum Indicator (MOM)
    if 'MOM' in indicators:
        df['MOM'] = ta.MOM(df['Close'].values, timeperiod=timeperiod)

    # Rate of Change (ROC)
    if 'ROC' in indicators:
        df['ROC'] = ta.ROC(df['Close'].values, timeperiod=timeperiod)

    # Relative Strength Index (RSI)
    if 'RSI' in indicators:
        df['RSI'] = ta.RSI(df['Close'].values, timeperiod=timeperiod)

    # Average True Range (ATR)
    if 'ATR' in indicators:
        df['ATR'] = ta.ATR(df['High'].values, df['Low'].values, df['Close'].values, timeperiod=timeperiod)

    # Bollinger Bands (BBANDS)
    if 'BBANDS' in indicators:
        df['Upper_BB'], df['Middle_BB'], df['Lower_BB'] = ta.BBANDS(df['Close'].values, timeperiod=20)

    # Fill NaN values generated by TA-Lib
    df.fillna(method='bfill', inplace=True)  # Backfill missing values

    return df

# 3. Feature Selection

# 4. Model Selection

# 5. Model Evaluation

# 6. Trading Strategy & Backtesting