# 1.Data Preprocessing

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
# Feature Engineering
import talib

In [ ]:
# Machine Learning
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
import warnings
warnings.filterwarnings("ignore")

Load the data (stocks)

In [ ]:
# stocks
appl_data = pd.read_csv('data/stock/AAPL.csv')
amzn_data = pd.read_csv('data/stock/AMZN.csv')
msft_data = pd.read_csv('data/stock/MSFT.csv')

Load the data (etfs)

In [ ]:
appl_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-08-01,0.269821,0.275357,0.263036,0.264286,0.226590,228956000
1,2002-08-02,0.263214,0.267857,0.254464,0.258036,0.221231,179060000
2,2002-08-05,0.259107,0.262500,0.249464,0.249821,0.214188,204024800
3,2002-08-06,0.253750,0.271964,0.251429,0.263214,0.225670,272053600
4,2002-08-07,0.269464,0.274286,0.256250,0.268393,0.230111,333474400
...,...,...,...,...,...,...,...
4863,2021-11-23,161.119995,161.800003,159.059998,161.410004,161.410004,96041900
4864,2021-11-24,160.750000,162.139999,159.639999,161.940002,161.940002,69463600
4865,2021-11-26,159.570007,160.449997,156.360001,156.809998,156.809998,76959800
4866,2021-11-29,159.369995,161.190002,158.789993,160.240005,160.240005,88748200
4867,2021-11-30,159.990005,165.520004,159.919998,165.300003,165.300003,174048100

In [ ]:
print(appl_data.dtypes)

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

# 2. Feature Engineering

# 3. Feature Selection

# 4. Model Selection

# 5. Model Evaluation

# 6. Trading Strategy & Backtesting